:host {
    font-family: ManropeVar, sans-serif;
    color-scheme: light dark;
    --sepia-color: #f9f1cc;
    --bg-light-color: #ffffff;
    --bg-dark-color: #090909;
    --reader-bg: transparent;
    --active-bg: rgba(0, 0, 0, .05);
    --menu-bg: Canvas;
    --sidebar-bg: Canvas;
    --menu-group-separator-color: rgba(200, 200, 200, 1);
    --menu-box-shadow: 0 0 0 1px rgba(0, 0, 0, .2), 0 0 16px rgba(0, 0, 0, .1);
    --border-box-shadow: 0 0 0 1px rgba(0, 0, 0, .2);
    --side-bar-box-shadow-color: rgba(0, 0, 0, .1);
    --enabled-dot: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%223%22%2F%3E%3C%2Fsvg%3E');
    --disabled-dot: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22%23808080%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%223%22%2F%3E%3C%2Fsvg%3E');
    --gray-text: GrayText;
    --header-height: 54px;
    --book-colors-filter: invert(0);
    --book-bg-color: transparent;
    --font-size-base: max(1rem, 17px);
    --font-size-input: max(var(--font-size-base), 16px);
    --link-text: LinkText;
}
@supports (color-scheme: light dark) {
    @media all and (prefers-color-scheme: dark) {
        #simebv-reader-root.simebv-supports-dark {
            --active-bg: rgba(255, 255, 255, .1);
            --reader-bg: Canvas;
            --menu-group-separator-color: rgba(255, 255, 255, .3);
            --menu-box-shadow: 0 0 0 1px rgba(255, 255, 255, .3), 0 0 6px rgba(255, 255, 255, .1);
            --border-box-shadow: 0 0 0 1px rgba(255, 255, 255, .3);
            --side-bar-box-shadow-color: rgba(255, 255, 255, .1);
            --enabled-dot: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22%23FFFFFF%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%223%22%2F%3E%3C%2Fsvg%3E');
            --gray-text: rgb(132, 132, 132);
            --link-text: lightblue;
        }
        #simebv-reader-root.simebv-supports-dark a:link {
            color: var(--link-text);
        }
    }
}
foliate-view::part(filter),
simebv-foliate-view::part(filter) {
    background-color: var(--book-bg-color);
    filter: none; /*var(--book-colors-filter);*/
}
foliate-fxl::part(filter) {
    background-color: var(--book-bg-color);
}
#simebv-reader-root {
    height: 100%;
    width: 100%;
    font-size: var(--font-size-base);
    background-color: var(--reader-bg);
    filter: var(--book-colors-filter)
}
#simebv-reader-root.simebv-sepia {
    color-scheme: only light;
    --reader-bg: var(--sepia-color);
    --menu-bg: var(--reader-bg);
    --sidebar-bg: var(--reader-bg);
}
#simebv-reader-root.simebv-light {
    color-scheme: only light;
    --active-bg: rgba(0, 0, 0, .05);
    --reader-bg: var(--bg-light-color);
    --menu-bg: var(--reader-bg);
    --sidebar-bg: var(--reader-bg);
    --menu-group-separator-color: rgba(200, 200, 200, 1);
    --menu-box-shadow: 0 0 0 1px rgba(0, 0, 0, .2), 0 0 16px rgba(0, 0, 0, .1);
    --border-box-shadow: 0 0 0 1px rgba(0, 0, 0, .2);
    --side-bar-box-shadow-color: rgba(0, 0, 0, .1);
    --enabled-dot: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%223%22%2F%3E%3C%2Fsvg%3E');
    --gray-text: GrayText;
}
#simebv-reader-root.simebv-dark {
    color-scheme: only dark;
    --active-bg: rgba(255, 255, 255, .1);
    --reader-bg: var(--bg-dark-color);
    --menu-bg: var(--reader-bg);
    --sidebar-bg: var(--reader-bg);
    --menu-group-separator-color: rgba(255, 255, 255, .3);
    --menu-box-shadow: 0 0 0 1px rgba(255, 255, 255, .3), 0 0 6px rgba(255, 255, 255, .1);
    --border-box-shadow: 0 0 0 1px rgba(255, 255, 255, .3);
    --side-bar-box-shadow-color: rgba(255, 255, 255, .1);
    --enabled-dot: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22%23FFFFFF%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%223%22%2F%3E%3C%2Fsvg%3E');
    --gray-text: rgb(132, 132, 132);
    --link-text: lightblue;
}
#simebv-reader-root.simebv-dark a:link {
    color: var(--link-text);
}
#simebv-book-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#simebv-book-container.simebv-fxd-layout {
    height: calc(100% - var(--header-height) * 2);
    top: var(--header-height);
}
input, button {
    font-family: inherit;
    font-size: max(var(--font-size-input), 1rem);
}
#simebv-dimming-overlay {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms ease;
}
#simebv-dimming-overlay.simebv-show {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
#simebv-loading-overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: Canvas;
    color: CanvasText;
    font-size: 2rem;
    display: none;
    text-align: center;
}
#simebv-loading-overlay.simebv-show {
    display: flex;
    justify-content: center;
    align-items: center;
}
.popover {
    background: Canvas;
    color: CanvasText;
    border-radius: 6px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2), 0 0 16px rgba(0, 0, 0, .1), 0 0 32px rgba(0, 0, 0, .1);
}
.popover-arrow-down {
    fill: Canvas;
    filter: drop-shadow(0 -1px 0 rgba(0, 0, 0, .2));
}
.popover-arrow-up {
    fill: Canvas;
    filter: drop-shadow(0 1px 0 rgba(0, 0, 0, .2));
}
:disabled, [aria-disabled="true"],
.simebv-disabled-label {
    color: var(--gray-text);
}
#simebv-colors-filter-dialog,
#simebv-metadata-dialog,
#simebv-fonts-dialog {
    background-color: var(--menu-bg);
    border: none;
    box-shadow: var(--menu-box-shadow);
    border-radius: 3px;
    box-sizing: border-box;
}
#simebv-colors-filter-dialog input {
    vertical-align: middle;
}
#simebv-metadata-dialog > div {
    display: flex;
    flex-direction: column;
    align-items: start;
}
#simebv-colors-filter-dialog button,
#simebv-metadata-dialog button {
    padding-inline: 12px;
    padding-block: 3px;
}
#simebv-metadata-dialog button {
    flex-grow: 0;
}
#simebv-metadata-dialog dl {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 70vh;
    max-height: 70dvh;
}
#simebv-metadata-dialog dt {
    font-weight: bolder;
}
#simebv-search-dialog {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 16px;
    height: calc(var(--header-height) - 8px);
    z-index: 9999;
    background-color: var(--menu-bg);
    border: none;
    box-shadow: var(--menu-box-shadow);
}
#simebv-search-dialog.simebv-show {
    display: flex;
}
#simebv-search-dialog menu {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    margin-block: 0;
}
#simebv-search-dialog button {
    margin-inline: 6px;
    border-radius: 6px;
    padding: 3px;
    border: 1px solid GrayText;
}
#simebv-search-dialog button:disabled {
    color: var(--gray-text);
}
#simebv-search-dialog button:hover:not(:disabled) {
    background-color: var(--active-bg);
    cursor: pointer;
}
#simebv-search-dialog .simebv-button-icon {
    background: none;
    border: 0;
    text-align: center;
/*    color: GrayText;*/
}
#simebv-search-input {
    box-shadow: var(--border-box-shadow);
    border-radius: 2px;
    color: CanvasText;
    flex: auto 1 1;
    min-inline-size: 15ch;
    position: relative;
}
#simebv-search-input > input {
    width: 100%;
    appearance: none;
    border: none;
    positon: absolute;
    padding-inline: 4px;
    padding-block: 3px;
}
@keyframes simebv-rotate-circle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#simebv-busy-circle {
    display: none;
    animation: 1s steps(12) infinite simebv-rotate-circle;
    position: absolute;
    right: 26px;
    top: calc(50% - 10px);
}
#simebv-busy-circle.simebv-show {
    display: inline;
}
#simebv-fonts-dialog {
    min-width: 20rem;
}
#simebv-fonts-dialog h3 {
    margin-top: 0;
    margin-bottom: 0.3rem;
}
#simebv-fonts-dialog fieldset {
    border: none;
    padding-inline: 0;
    margin-inline: -.2rem;
    margin-block-end: .3rem;
}
#simebv-fonts-dialog fieldset div {
    margin-bottom: .4rem;
}
#simebv-fonts-dialog fieldset label {
    padding-inline-start: .4rem;
}
#simebv-fonts-dialog button {
    min-width: 3rem;
}
#simebv-fonts-dialog .simebv-dialog-buttons {
    display: flex;
    justify-content: flex-end;
    gap: .3rem;
}